{% extends 'base.html' %}
    <!--侧边菜单s-->
{% block side %}
    <div class="sidebar" data-background-color="" data-active-color="danger">
        <div class="logo">
            <a href="{% url 'major:index' %}" class="simple-text">
                管 理 平 台
            </a>
        </div>
        <div class="logo logo-mini"><a href="#" class="simple-text">C</a></div>
        <div class="sidebar-wrapper">
            <ul class="nav first-nav">
                <li class="active">
                    <a href="{% url 'major:index' %}">
                        <i class="ti-panel"></i>
                        <p>我的首页</p>
                    </a>
                </li>

                {% if '管理员模块' in pms %}
                <li>
                    <a data-toggle="collapse" href="#charts" class="collapsed" aria-expanded="false">
                        <i class="ti-bar-chart-alt"></i>
                        <p>管理员管理
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="charts" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="{% url 'userapp:mdfuser' 1 %}">修改管理员</a></li>
                            <li><a href="{% url 'userapp:adduser' 1 %}">增加管理员</a></li>
                            <li><a href="{% url 'userapp:loginrec' 1 %}">登录记录</a></li>
                            <li><a href="{% url 'userapp:group' 1 %}">权限组管理</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if '信息查询' in pms %}
                <li>
                    <a data-toggle="collapse" href="#ui-elements" class="collapsed" aria-expanded="false">
                        <i class="ti-package"></i>
                        <p>信息查询
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="ui-elements" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="{% url 'major:search' %}">查询信息</a></li>
                             <li><a href="{% url 'major:batchHandle' %}">批量处理</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if '上传数据包' in pms %}
                <li>
                    <a data-toggle="collapse" href="#forms" class="collapsed" aria-expanded="false">
                        <i class="ti-clipboard"></i>
                        <p>上传数据包
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="forms" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="{% url 'major:uploadData' %}">上传数据</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if '信息管理' in pms %}
                <li>
                    <a data-toggle="collapse" href="#tables" class="collapsed" aria-expanded="false">
                        <i class="ti-view-list-alt"></i>
                        <p>信息管理
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse in" id="tables" role="navigation" aria-expanded="true" style="height: 240px;">
                        <ul class="nav">
                            <li><a href="{% url 'major:typemanage' 1 %}">彩金类型管理</a></li>
                            <li><a href="{% url 'userapp:adulog' %}">管理员派发记录</a></li>
                            <li class="active"><a href="{% url 'major:downloadinfo' %}">下载信息</a></li>
                            <li><a href="{% url 'major:uploadrecord' 1 %}">上传记录</a></li>

                        </ul>
                    </div>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
{% endblock side %}
    <!--侧边菜单end-->
{% block body %}
    <div class="content">
            <div class="container-fluid">
                <div id="downloadInfo" class="row wrapper wrapper-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <em class="updatepw_icon"></em>
                                        下载信息
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="content-box form-ajax form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">
                                               信息开始时间：
                                            </label>
                                            <div class="col-md-9 c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day">
                                                <input type="text" name="startTime" id="startTime" autocomplete="off" class="c-datepicker-data-input only-date">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">
                                                信息结束时间：
                                            </label>
                                            <div class="col-md-9 c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day">
                                                <input type="text" name="endTime" id="endTime" autocomplete="off" class="c-datepicker-data-input only-date">
                                            </div>
                                        </div>

                                        <div class="form-group downstate">
                                            <label class="col-md-2 control-label">
                                               派发状态筛选：
                                            </label>
                                            <select name="send_status" style="height: 25px">
                                                <option value="2">全部</option>
                                                <option value="1">已派发</option>
                                                <option value="0">未派发</option>
                                            </select>
                                        </div>

                                        <div class="form-group downstate">
                                            <label class="col-md-2 control-label">
                                               彩金类型筛选：
                                            </label>

                                                <select name="type" style="height: 25px">
                                                    <option value="0">全部</option>
                                                    {% for i in class_data %}
                                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                                    {% endfor %}
                                                </select>

                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-offset-5 col-md-4">
                                                <button type="submit" class="btn subBtnstl" id="btnUpdateLoginPWD">下载该时间段数据</button>
                                            </div>
                                        </div>
                                        <h3 style="color: #dd4b39">{{ errmsg }}</h3>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
{% endblock body %}
